# Database
DATABASE_URL="op://Personal/nkczamfwqpimcv2i5af7drcora/DATABASE_URL"

# Clerk
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY
CLERK_SECRET_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/CLERK_SECRET_KEY

# Clerk routing
NEXT_PUBLIC_CLERK_SIGN_IN_URL=/sign-in
NEXT_PUBLIC_CLERK_SIGN_UP_URL=/sign-up

# Google APIs
GOOGLE_CALENDAR_API_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/GOOGLE_CALENDAR_API_KEY
GEMINI_API_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/GEMINI_API_KEY
NEXT_PUBLIC_GOOGLE_MAPS_API_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/NEXT_PUBLIC_GOOGLE_MAPS_API_KEY
GOOGLE_WEATHER_API_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/GOOGLE_WEATHER_API_KEY

# GitHub
GITHUB_TOKEN=op://Personal/nkczamfwqpimcv2i5af7drcora/GITHUB_TOKEN
GITHUB_REPOSITORY=op://Personal/nkczamfwqpimcv2i5af7drcora/GITHUB_REPOSITORY

# Cron
CRON_SECRET=op://Personal/nkczamfwqpimcv2i5af7drcora/CRON_SECRET

# Strava
STRAVA_CLIENT_ID=op://Personal/nkczamfwqpimcv2i5af7drcora/STRAVA_CLIENT_ID
STRAVA_CLIENT_SECRET=op://Personal/nkczamfwqpimcv2i5af7drcora/STRAVA_CLIENT_SECRET

# App URL
NEXT_PUBLIC_APP_URL=op://Personal/nkczamfwqpimcv2i5af7drcora/NEXT_PUBLIC_APP_URL

# QStash
QSTASH_URL=op://Personal/nkczamfwqpimcv2i5af7drcora/QSTASH_URL
QSTASH_TOKEN=op://Personal/nkczamfwqpimcv2i5af7drcora/QSTASH_TOKEN
QSTASH_CURRENT_SIGNING_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/QSTASH_CURRENT_SIGNING_KEY
QSTASH_NEXT_SIGNING_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/QSTASH_NEXT_SIGNING_KEY

# Residential Proxy
RESIDENTIAL_PROXY_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/RESIDENTIAL_PROXY_KEY
RESIDENTIAL_PROXY_URL=op://Personal/nkczamfwqpimcv2i5af7drcora/RESIDENTIAL_PROXY_URL

# Headless browser rendering service
BROWSER_RENDER_URL=op://Personal/nkczamfwqpimcv2i5af7drcora/BROWSER_RENDER_URL
BROWSER_RENDER_KEY=op://Personal/nkczamfwqpimcv2i5af7drcora/BROWSER_RENDER_KEY
